/* Backdrop - covers entire screen */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalWindow {
    background-color: var(--color-background-card);
    border-radius: var(--border-radius-cards);
    padding: var(--spacing-4);
    margin: var(--spacing);
    width: 50%;
}

.modalTitle {
    color: var(--color-text);
}